@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000 !important;
}

#wxad-draft-root {
  position: absolute;
  z-index: 1;
  top: 118px;
  width: 300px;
}

#wxad-draft-root > * {
  width: 300px;
}

.wxad-draft-block-cell-inner {
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 4px,
    rgba(69, 151, 248, 0.5) 4px,
    rgba(69, 151, 248, 0.5) 5px
  );
}

.wxad-draft-block-cell-ml .wxad-draft-block-cell-input-wrapper {
  top: 50%;
  right: calc(100%);
  transform: translateY(-50%);
}

.wxad-draft-block-cell-mr .wxad-draft-block-cell-input-wrapper {
  top: 50%;
  left: calc(100%);
  transform: translateY(-50%);
}

.wxad-draft-block-cell-mt .wxad-draft-block-cell-input-wrapper {
  left: 50%;
  bottom: calc(100%);
  transform: translateX(-50%);
}

.wxad-draft-block-cell-mb .wxad-draft-block-cell-input-wrapper {
  left: 50%;
  top: calc(100%);
  transform: translateX(-50%);
}

.wxad-draft-block-cell-ml.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner,
.wxad-draft-block-cell-mr.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner {
  background-image: linear-gradient(
    180deg,
    transparent calc(50% - 6px),
    rgba(69, 151, 248, 1) calc(50% - 6px),
    rgba(69, 151, 248, 1) calc(50% + 6px),
    transparent calc(50% + 6px)
  );
  background-size: 33% 100%;
  background-repeat: no-repeat;
}

.wxad-draft-block-cell-mr.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner {
  background-position: 100% 0;
}

.wxad-draft-block-cell-mt.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner,
.wxad-draft-block-cell-mb.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner {
  background-image: linear-gradient(
    90deg,
    transparent calc(50% - 6px),
    rgba(69, 151, 248, 1) calc(50% - 6px),
    rgba(69, 151, 248, 1) calc(50% + 6px),
    transparent calc(50% + 6px)
  );
  background-size: 100% 33%;
  background-repeat: no-repeat;
}

.wxad-draft-block-cell-mb.wxad-draft-block-cell-min
  .wxad-draft-block-cell-inner {
  background-position: 0 100%;
}
